<ion-header [translucent]="true">
  <ion-toolbar  class="tituloHeader">
  <br>
  <br>
    <ion-row>
      
          <ion-title>
            <h5 class="text-center">Bienvenidos</h5>
          </ion-title>
      
    </ion-row>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="contenedor-titulo">
    <ion-item class="item-titulo">
      <ion-label class="titulo-login"><img src="../../../assets/img/Logotipo.png" alt="" width="150px"></ion-label>
    </ion-item>
  </ion-list>

  <ion-card>

    <ion-card-content>
      <ion-item class="item-input">
        <ion-input [(ngModel)]="email" class="input-user" labelPlacement="floating" value="name123">
          <div slot="label">Usuario <ion-text color="danger">(Required)</ion-text></div>
        </ion-input>
      </ion-item>

      <ion-item class="item-input">
        <ion-input [(ngModel)]="contrasena" class="input-password" label="Contraseña"  labelPlacement="floating" type="password"></ion-input>
      </ion-item>
      
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <div  class="btnRegistrarse"><a class="Linkregistrarse" (click)="registrarse()">Registrate</a></div>
          </ion-col>
          <ion-col size="8">
            <div  class="btnRecuperar"><a class="LinkRecuperar" (click)="recuperarPasword()">¿has olvidado la contraseña?</a></div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>

    <div class="boxRestContra">
      <ion-button fill="clear" class="boton-ingresar" (click)="ingresar()">Ingresar</ion-button>
    </div>
    
    


  </ion-card>


</ion-content>
