<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-button (click)="logOut()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    
      <ion-list class="contenedor-titulo">
        <ion-item class="item-titulo">
          <ion-label class="titulo-login"><img src="../../../assets/img/Logotipo.png" alt="" width="150px"></ion-label>
        </ion-item>
      </ion-list>

     </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container>
    <ng-container *ngFor="let m of menuArray">
      <ion-card [routerLink]="m.url" *ngIf="!m.disabled" class="enabled">
        <div class="box">
          <ion-icon [name]="m.icono"></ion-icon>
          <h3>{{m.titulo}}</h3>
        </div>
      </ion-card>
  
      <ion-card *ngIf="m.disabled" class="disabled">
        <div class="box">
          <ion-icon [name]="m.icono"></ion-icon>
          <h3>{{m.titulo}}</h3>
        </div>
      </ion-card>
    </ng-container>
  </ng-container>

  
</ion-content>
