#container {
  height: 70vh;
  max-width: 350px;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 50px;

}

ion-col{
  background-color: #fff;
  color:black;
  margin-bottom: 20%;
}




