.box{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 20px;
    padding-right: 20px;
    color: azure;
    background-color: lightslategrey;
}

.item{
    display: flex;
    flex-direction: row;
}

// header

.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #000;
    margin-left: 28px;
}

#botonBack{
    color: #000;
}